<!DOCTYPE html>
<!-- Coding By CodingNepal - youtube.com/codingnepal -->
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Stable Edit</title>
    <link rel="stylesheet" href="../static/style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/boxicons@2.1.2/css/boxicons.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.1.1/css/all.min.css"/>
  </head>
  <body>
    
    <div class="container disable">
        <div class="generate">
  
           
          
            <div class="webflow-style-input">
              <input class="prompt" type="text" placeholder="Enter your prompt"></input>
              <div class="center-con">
                <div class="round">
                    <div id="cta">
                        <span class="arrow primera next "></span>
                        <span class="arrow segunda next "></span>
                    </div>
                </div>
            </div>
            </div>
          
            
          
          </div>
          
        <div class="wrapper">
            <div class="editor-panel">
                <div class="filter">
                    <label class="title" style="color: white;">Negative Prompt</label>
                    <textarea id="neg-prompt" spellcheck="false" placeholder="Enter something to avoid" required></textarea>
                  
                    
                    <div class="slider">
                        
                        <ui class="options-brush">
                            <li class="option-parameters" id="step">
                                <span>Steps</span>
                                <p id="step-value">50</p>
                              </li>
                              
                              <input type="range" value="50" min="1" max="100" id="steps-slider" >
                 
                              <li class="option-parameters" id="guidance">
                                <span>Guidance</span>
                                <p id="guide-value">7.5</p>
                              </li>
                              <input type="range" value="7.5" min="1" max="20" id="guidance-slider" >
                            <li class="option active tool" id="brush">
                                <img src="{{url_for('static', filename='icons/brush.svg')}}" alt="">
                                <span>Brush</span>
                                
                              </li>
                              <li class="option tool" id="eraser">
                                <img src="{{url_for('static', filename='icons/eraser.svg')}}" alt="">
                                <span>Eraser</span>
                              </li>
                        </ui>
                        <input type="range" value="50" min="1" max="100" id="size-slider" >
                   
                </div>
                </div>
                <span style="color: white;">Seed</span>
                <input type="text" placeholder="0">
                <div class="rotate">
                    <div class="options">
                        <button id="left"><i class="fa-solid fa-rotate-left"></i></button>
                        <button id="right"><i class="fa-solid fa-rotate-right"></i></button>
                        
                    </div>
                </div>
            </div>
            <div class="preview-img" id="stack" >
                <img src="{{url_for('static', filename='assets/image-placeholder.svg')}}" alt="preview-img" >
                
	            <div class="dash-container" style='display: none;'></div>

                <canvas></canvas>
            </div>
            
        </div>
        <div class="controls">
            <div>
            <button class="reset-filter">Reset Filters</button>
            <button class="clear-canvas">Clear Canvas</button>
        </div>
            <div class="row">
                <input type="file" class="file-input" accept="image/*" hidden>
                <button class="choose-img">Choose Image</button>
                <button class="save-img">Save Image</button>
            </div>
        </div>
    </div>

    <script src="../static/script.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>

  </body>
</html>